[client]
'NAME': 'my_database'
'USER': 'admindjango'
'password ': 'S17091998*'
 'HOST': '127.0.0.1',   
 'PORT': '3306',   
 'OPTIONS': {   
    'init_command': "SET sql_mode='STRICT_TRANS_TABLES'"   
}
   
default-character-set = utf8